@import "colors";
#about {
    background-color: #0f4144;
    text-align: justify;
    .content-container {
        height: 100%;
        width: 70%;
        padding: 50px 0;

        align-items: center;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    a {
        color: $color1;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            color: $color2;
        }
    }

    ul {
        list-style: none;
    }

    .img-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            visibility: visible;
            width: 100%;
            max-height: 300px;
        }
    }
}
.socail-media-container {
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    width: 100%;

    a {
        margin: 0 20px;
        transform: scale(1);

        &:hover {
            animation: grow 0.2s linear forwards;
        }
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
