@media only screen and (max-width: 750px) {
    h1 {
        font-size: 3rem;
    }
    .control-container {
        top: 80px;
    }

    .container {
        height: 200px;
        width: 200px;
    }

    .gradient-circle {
        width: 220px;
        height: 220px;
    }

    .pointer-container {
        height: 145px;
        top: -42px;
    }

    .btn {
        height: 60px;
    }

    #about {
        text-align: justify;
        h2 {
            font-size: 1.3rem;
        }
        h4 {
            font-size: 1.1rem;
            font-weight: 300;
        }

        p {
            font-size: 1em;
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                margin-top: 40px;
                visibility: visible;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    .control-container {
        top: 40px;
    }

    .container {
        height: 200px;
        width: 200px;
    }

    .gradient-circle {
        width: 220px;
        height: 220px;
    }

    .pointer-container {
        height: 145px;
        top: -42px;
    }

    .btn {
        height: 30px;
    }

    #about {
        text-align: justify;
        h2 {
            font-size: 1.3rem;
        }
        h4 {
            font-size: 1.1rem;
            font-weight: 300;
        }

        p {
            font-size: 1em;
        }
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                margin-top: 40px;
                visibility: visible;
                max-width: 300px;
                max-height: 300px;
            }
        }
    }
}
