@import 'colors';
.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  .dropbtn {
    display: none;
  }
}

.navbar-nav {
  margin-right: 50px;
  margin-top: 20px;

  width: 200px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  a {
    color: $color1;
    text-decoration: none;
    font-size: 1.2rem;

    opacity: 0.8;

    &:hover {
      color: $color2;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;

    .dropbtn {
      margin-top: 25px;
      margin-right: 10px;
      float: right;
      display: block;
      background: none;
      color: $color1;
      border: none;

      &:hover {
        color: $color2;
      }
    }
  }

  .navbar-nav {
    display: none;
  }

  .links {
    position: absolute;
    top: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    a {
      text-align: right;
      color: $color1;
      text-decoration: none;
      font-size: 1.2rem;

      opacity: 0.8;

      &:hover {
        color: $color2;
        opacity: 1;
      }
    }
  }

  .dropdown-content {
    background-color: $color6;
    width: 100px;
    padding: 10px 0px;
    border: 1px solid $color1;
    border-radius: 8px;
    box-shadow: 4px 20px 90px 10px $color2;

    a {
      color: $color2;
      padding-right: 10px;
    }
  }
}
