@import "colors";
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color2;
}
